aiohttp==3.8.4
aiosignal==1.3.1
anyio==4.3.0
appdirs==1.4.4
argcomplete==3.1.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.2.0
awscli==1.32.34
Babel==2.14.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
black==24.3.0
bleach==6.1.0
botocore==1.34.34
btrfsutil==6.8
build==1.2.1
CacheControl==0.14.0
cachy==0.3.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.1.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.0.7
coverage==7.4.1
cpplint==1.6.1
crashtest==0.4.1
cryptography==42.0.5
cssselect==1.2.0
cycler==0.11.0
dbus-python==1.3.2
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
dnspython==2.3.0
docutils==0.20.1
dulwich==0.21.7
executing==2.0.0
fastjsonschema==2.19.1
filelock==3.13.3
fonttools==4.39.4
fqdn==1.5.1
frozenlist==1.3.3
gpg==1.23.2
h11==0.14.0
html5lib==1.1
httpcore==1.0.2
httpx==0.26.0
idna==3.6
importlib_metadata==5.1.0
installer==0.7.0
ipykernel==6.29.4
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
jaraco.classes==3.3.1
jaraco.context==4.3.0
jaraco.functools==4.0.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.3
jmespath==1.0.1
json5==0.9.24
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.26.0
jupyterlab_widgets==3.0.10
keyring==25.0.0
kiwisolver==1.4.4
lark==1.1.9
libtorrent==2.0.10
lit==17.0.6.dev0
lockfile==0.12.2
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.2.0
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest_asyncio==1.6.0
notebook==7.1.2
notebook_shim==0.2.4
numpy==1.26.4
openai==0.27.7
openshot-qt==3.1.1
overrides==7.7.0
packaging==23.2
pandas==2.0.2
pandocfilters==1.5.1
paramiko==3.4.0
parso==0.8.4
pathspec==0.12.1
perf==0.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pipx==1.5.0
pkginfo==1.9.6
platformdirs==4.2.0
ply==3.11
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.5.0
pooch==1.8.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyasn1==0.5.0
pycairo==1.26.0
pycparser==2.22
Pygments==2.17.2
PyGObject==3.48.1
PyNaCl==1.4.0
pyOpenSSL==24.0.0
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
pyrsistent==0.19.3
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
rapidfuzz==3.6.2
referencing==0.33.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339_validator==0.1.4
rfc3987==1.3.8
rich==13.7.1
rpds-py==0.17.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.0
scipy==1.13.0
scour==0.38.2
screenkey==1.5
seaborn==0.12.2
SecretStorage==3.3.3
Send2Trash==1.8.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
TBB==0.2
tinycss2==1.2.1
tomlkit==0.12.4
torbrowser-launcher==0.3.7
tornado==6.3.2
traceback-with-variables==2.0.4
traitlets==5.14.2
trove-classifiers==2024.3.29
typing_extensions==4.10.0
tzdata==2023.3
uc-micro-py==1.0.3
uri-template==1.3.0
urllib3==1.26.18
userpath==1.9.2
virtualenv==20.25.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
yarl==1.9.2
zipp==3.17.0
zstandard==0.22.0
